
@highlight: #33cc99; //53c0be;
@link:      #929397;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #777;
  font: 400 14px/1.6 "Open Sans", sans-serif;
}

a {
  color: @link;
  // font-weight: 600;
  text-decoration: underline;

  &:hover {
    color: @highlight;
    text-decoration: none;
  }
}

h1, h2, h3 {
  margin: 5px 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  color: #353535;
}

h3 {
  font-weight: 800;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

p,
dd {
  margin-bottom: 30px;
}

strong,
.strong,
dt {
  font-weight: 600;
}

strong,
.highlight {
  color:@link; //@highlight
}

hr {
  background-color: #e7e7e7;
  border: 0;
  border-bottom: 1px solid fade(#e7e7e7, 80%);
  color: #e7e7e7;
  height: 1px;
  margin: 50px 0;
  padding: 0;
}

.headline {
  font: 400 17px/1.7 "Open Sans", sans-serif;
  margin-top: 4px;
}

// Header
// -----------------

#header {
  background: #f9f9f9;
  height: 100%;
  padding: 10% 0 0 4%;
  position: fixed;
  width: 49.9%;

  h1 {
    display: block;
    font: 500 55px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #353535;
    width: 100%;
  }

  .description {
    color: @highlight; //#cecece;
    font: 100 43px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: .75;
    margin-bottom: 10px;
    margin-top: -10px;
  }

  a {
    font-size: 35px;
    margin-right: 5px;
    text-decoration: none;
  }
}

#resume {
  padding: 10.6% 4% 0 5%;
  margin-left: 50%;
  width: 50%;

  ul {
    padding-bottom: 10px;
    padding-left: 20px;
  }
}

.formations {

  // dl {
  //   overflow: hidden;
  // }

  // dt,
  // dd {
  //   width: 50%
  // }

  // dt:nth-child(odd),
  // dd:nth-child(odd) {
  //   float: left
  // }

  // dt:nth-child(even),
  // dd:nth-child(even) {
  //   float: right
  // }
}